<style>
  .dropdown-menu {
    width: 50px;
    height: 412px;
    overflow-y: scroll;
  }

  .dropdown ::-webkit-scrollbar {
    display: none;
  }
</style>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
    aria-expanded="false">
    區域
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">岡山區</a></li>
    <li><a class="dropdown-item" href="#">橋頭區</a></li>
    <li><a class="dropdown-item" href="#">楠梓區</a></li>
    <li><a class="dropdown-item" href="#">左營區</a></li>
    <li><a class="dropdown-item" href="#">鼓山區</a></li>
    <li><a class="dropdown-item" href="#">三民區</a></li>
    <li><a class="dropdown-item" href="#">苓雅區</a></li>
    <li><a class="dropdown-item" href="#">新興區</a></li>
    <li><a class="dropdown-item" href="#">前金區</a></li>
    <li><a class="dropdown-item" href="#">鹽埕區</a></li>
    <li><a class="dropdown-item" href="#">前鎮區</a></li>
    <li><a class="dropdown-item" href="#">旗津區</a></li>
    <li><a class="dropdown-item" href="#">小港區</a></li>
    <li><a class="dropdown-item" href="#">鳳山區</a></li>
    <li><a class="dropdown-item" href="#">茂林區</a></li>
    <li><a class="dropdown-item" href="#">甲仙區</a></li>
    <li><a class="dropdown-item" href="#">六龜區</a></li>
    <li><a class="dropdown-item" href="#">杉林區</a></li>
    <li><a class="dropdown-item" href="#">美濃區</a></li>
    <li><a class="dropdown-item" href="#">內門區</a></li>
    <li><a class="dropdown-item" href="#">仁武區</a></li>
    <li><a class="dropdown-item" href="#">田寮區</a></li>
    <li><a class="dropdown-item" href="#">旗山區</a></li>
    <li><a class="dropdown-item" href="#">梓官區</a></li>
    <li><a class="dropdown-item" href="#">阿蓮區</a></li>
    <li><a class="dropdown-item" href="#">湖內區</a></li>
    <li><a class="dropdown-item" href="#">茄萣區</a></li>
    <li><a class="dropdown-item" href="#">路竹區</a></li>
    <li><a class="dropdown-item" href="#">鳥松區</a></li>
    <li><a class="dropdown-item" href="#">永安區</a></li>
    <li><a class="dropdown-item" href="#">燕巢區</a></li>
    <li><a class="dropdown-item" href="#">大樹區</a></li>
    <li><a class="dropdown-item" href="#">大寮區</a></li>
    <li><a class="dropdown-item" href="#">林園區</a></li>
    <li><a class="dropdown-item" href="#">彌陀區</a></li>
    <li><a class="dropdown-item" href="#">那瑪夏區</a></li>
    <li><a class="dropdown-item" href="#">桃源區</a></li>
  </ul>
</div>